
.rgb-header {
    font-size: 3rem;
    font-weight: bold;
    animation: rgbColor 5s infinite linear;
    text-align: center;
}

.typing-header {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    width: fit-content;
    margin: 50px auto;
}

.typing-text {
    display: inline-block;
    animation: typing 3s steps(22) forwards, rgbColor 5s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 22ch; }
}
  
@keyframes rgbColor {
    0%   { color: #4D4C7D; }
    16%  { color: #2c435a; }
    33%  { color: #22413c; }
    50%  { color: #455850; }
    66%  { color: #3e3557; }
    83%  { color: #573346; }
    100% { color: #222164; }
}

.typed-cursor {
    vertical-align: middle;
    margin: 0px;
}